<script type="text/ng-template" id="loading.html">
    <div widget-item>
        <div widget-sub-text>
            Loading..
        </div>
    </div>
</script>

<script type="text/ng-template" id="main.html">

    <!-- DATABASE EXAMPLE -->
    <div widget-section-header>Database test</div>
    <div ng-if="dbData.error">
        <div widget-item>
            <div widget-text>{{dbData.error}}, <a ng-click="createTable()">create table</a>.</div>
        </div>
    </div>
    <div ng-if="!dbData.error">
        <div widget-item>
            <form class="form-inline" ng-submit="insertData()">
                <div class="input-group" style="width: 100%;">
                    <input type="text" class="form-control" ng-model="insertValue.value" placeholder="Enter some text and submit" />
                    <span class="input-group-btn" style="overflow:hidden;">
                        <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;">
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div widget-item ng-repeat="item in dbData">
            <div widget-text>Id: {{item.id}}</div>
            <div widget-text>UserId: {{item.userId}}</div>
            <div widget-text>Value: {{item.value}}</div>
        </div>
    </div>
    <!-- DETAILS VIEWS EXAMPLE -->

    <div widget-section-header>Details View Example</div>
    <div widget-item icon-right="icon-angle-right" ng-click="showView2()" button>
        <div widget-text>This view is displayed in column 1</div>
        <div widget-sub-text>Click here to show view 2 in column 2</div>
    </div>

    <!-- OPEN DATA API EXAMPLE -->

    <div widget-section-header>Open Data API Example</div>
    <div widget-item ng-if="openDataExampleData.error">
        <div widget-sub-text>{{openDataExampleData.error}}</div>
    </div>
    <div widget-item ng-if="!openDataExampleData.error">
        <div widget-sub-text>List of WatCard Locations:</div>
        <div widget-text ng-repeat="item in openDataExampleData.data">{{item.vendor_name}}</div>
    </div>

    <!-- PORTAL DATA SOURCE EXAMPLE -->

    <div widget-section-header>Title</div>
    <div ng-repeat="l in links['Student Services']">
        <div widget-item button icon-right="icon-link-ext" link="{{::l.Item2}}">
            <div widget-text>{{::l.Item1}}</div>
        </div>
    </div>

    <!-- CSS EXAMPLE -->

    <div widget-section-header>CSS test</div>
    <div widget-item>
        <span id="cssTest">This is a CSS test</span>
    </div>
</script>

<!-- VIEWS FOR THE "DETAILS VIEWS EXAMPLE" -->

<script type="text/ng-template" id="view2.html">
    <div widget-section-header>View 2</div>
    <div widget-item icon-right="icon-angle-right" ng-click="showView3()" button>
        <div widget-text>This view is displayed in column 2</div>
        <div widget-sub-text>Click here to show view 3 in column 3</div>
    </div>
</script>

<script type="text/ng-template" id="view3.html">
    <div widget-section-header>View 3</div>
    <div widget-item>
        <div widget-text>This view is displayed in column 3</div>
    </div>
</script>